@model BangazonDelta.ViewModels.UserOrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h2>@ViewData["Title"]</h2>


<hr/>

@foreach (var item in Model.Product)
{
    <div class="row">
        <div class="col-md-3"><a asp-action="Detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a></div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="col-md-3">$@Html.DisplayFor(modelItem => item.Price)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item)</div>
    </div>
}